@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  border-radius: 0 !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__tile--active {
  background-color: #9bd1e5 !important;
  color: black !important;
  border-radius: 0.5rem !important;
}
